#root {
  padding: 20px 0px 120px 120px;
  background: aliceblue;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {

  margin-bottom: 20px;
  background: orange;
  padding: 20px;
  max-width: 340px;
}

li button {
  float: right;
}

li span {
  border: 1px solid black;
  cursor: pointer;
  padding: 12px;
  font-weight: 400;
}